<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Add Warehouse Stock</title>
</head>
<body>

    <div class="sidebar">
        <div class="sidebar-header">Fair-Share V1</div>
        <div class="sidebar-section-title">Navigation</div>
        <a href="{{ url_for('adminBoard') }}" class="sidebar-link">Dashboard</a>
        <a href="/camps" class="sidebar-link">View All Camps</a>
        <a href="{{ url_for('warehouse_view') }}" class="sidebar-link">View Warehouse</a>
        <a href="{{ url_for('admin_requests') }}" class="sidebar-link">Resource Requests</a>
        <div class="sidebar-bottom">
            <a href="/logout" class="sidebar-link">Logout</a>
        </div>
    </div>

<div class="page-content">
    <h2>Add Warehouse Stock</h2>

    <form method="POST">

        <input
            name="item_name"
            placeholder="Name"
        >
        <select name="item_type" required>
            <option value="">Select</option>
            <option value="food">Food</option>
            <option value="water">Water</option>
            <option value="medicine-kit">Medicine Kit</option>
            <option value="other">Other</option>
        </select>

        <input
            type="number"
            name="quantity"
            placeholder="Quantity"
            min="0"
            required
        >
        <select name="unit" required>
            <option value="">Units</option>
            <option value="kg">Kg</option>
            <option value="liter">Liter</option>
            <option value="units">Units</option>
        </select>

        <input
            type="number"
            name="low_stock_threshold"
            placeholder="Low stock threshold"
            min="0"
            required
        >

        <button type="submit">Add Stock</button>
    </form>

    <br>
   <!-- <a href="{{ url_for('warehouse_view') }}" class="btn">Back</a> -->
</div>

</body>
</html>
