body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
}

form {
    background: white;
    padding: 20px;
    width: 300px;
    border-radius: 8px;
}

input, select, button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}

button {
    background: #2563eb;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #1e40af;
}

.btn {
    display: inline-block;
    padding: 10px 15px;
    background: #16a34a;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    margin-bottom: 15px;
}

.btn:hover {
    background: #15803d;
}
